body {
    font-family: monospace;
    cursor: default;
    overflow: hidden;
    background-color: #000;
}

header {
    font-size: 20px;
    background:
    linear-gradient(90deg, #000, #222d, #000) 0 0,
        url(./noise.png);
    margin: -10px;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 0px 40px #222,
                inset 0px 0px 10px #161616;
}