
@font-face {
    font-family: martian;
    src: url(martian_offline.ttf);
}

body {
    background-color: #000;
    color: #fff;
    font-family: martian;
}

h1 {
    font-family: martian;
    color: #cc2b2b;
}