
@font-face {
    font-family: martian;
    src: url(martian_offline.ttf);
}

body {
    background-color: #000;
    background-image:  linear-gradient(#222222 1px, transparent 1px), linear-gradient(to right, #222222 1px, #000000 1px);
    background-size: 20px 20px;
    color: #fff;
    font-family: martian;
}

h1 {
    font-family: martian;
    color: #cc2b2b;
}

h3 {
    font-family: martian;
    color: #979797;
    font-style: italic;
    text-decoration: underline;
}

a {
    font-weight: bold;
    font-size: 15px;
    font-family: martian;
    color: #cc2b2b;
}

ul {
    list-style: none;
}

li:before {
    color: #979797;
    content: "+ ";
}

a:hover {
    color: #fff;
}

#catimg {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 64px;
    height: 64px;
}

#credit {
    position: fixed;
    bottom: 0px;
    right: 64px;
    padding: 0px 5px;
    text-align: end;
}

p {
    font-size: 15px;
    font-family: martian;
    color: #979797;
}

.mainbtn {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: martian;
    color: #cc2b2b;
}

.mainbtn:hover {
    text-decoration: underline;
}